<h1>Lista de Usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Sobrenome</th>
    <th>Email</th>
    <th>Status</th>
    <% if current_user %>
        <th>Ações</th>
    <% end %>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>

      <% if user.active %>  
        <td>Ativo</td>
      <% else %>
        <td>Inativo</td>
      <% end %>
      
      <% if current_user %>
        <% if user.active %>
            <td><%= link_to "Desativar", user_active_flag_path(user), method: :put %></td>
        <% end %>
        <% if !user.active %>
            <td><%= link_to "Ativar", user_active_flag_path(user), method: :put %></td>
        <% end %>
      <% end %>

    </tr>
  <% end %>
</table>

<% if !current_user %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<%= link_to "Editar meu usuario", edit_user_registration_path  %>

<%= link_to 'Sair', destroy_user_session_path, method: :delete %>
